.controls{
    position: absolute;
    height: 400px;
    top: 10%;
    left: 70%;
  

    border-radius: 5px;
    border: 8px solid rgb(14, 4, 59);
}

.buttons{
 position: relative;   
 margin: 30px;
 padding: 20px;
 

 border: 8px solid rgb(14, 4, 59);
}
 .score{
     position: relative;
     margin: 30px;
     padding: 10px;
     border: 8px solid rgb(14, 4, 59);

 }
